@use '../../styles/mixins' as mix

.slider-controls
  display: flex
  gap: 1rem
  flex: 0 0 auto

  &__arrow
    @include mix.slider-arrow

    &:disabled
      opacity: 0.35
      cursor: default
      pointer-events: none
